.blind {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    margin: -1px;
  }
  
.inner{
  padding: 10px 120px 0;
  @include desktop{
    padding: 10px 50px 0;
  }
  @include mobile{
    padding: 5px 20px 0;
  }
}

.hambuger-wrapper{
  display: none;
}