@font-face {
    font-family: "point";
    src: url("../fonts/font-1f347f3532ea8530cfc4.woff2") format('woff2');
    
    
  }
  @font-face {
    font-family: "basic";
    src: url("../fonts/font-9f43b1b6f1fe9b17ca79.woff2") format('woff2');
    
  }


  @font-face {
    font-family: "pretand";
    src: url("../fonts/Pretendard-Light.woff") format('woff');
    font-weight: 300;
  }
  @font-face {
    font-family: "pretand";
    src: url("../fonts/Pretendard-Regular.woff") format('woff');
    font-weight: 400;
  }
  @font-face {
    font-family: "pretand";
    src: url("../fonts/Pretendard-Medium.woff") format('woff');
    font-weight: 500;
  }
  @font-face {
    font-family: "pretand";
    src: url("../fonts/Pretendard-SemiBold.woff") format('woff');
    font-weight: 600;
  }
  @font-face {
    font-family: "pretand";
    src: url("../fonts/Pretendard-Black.woff") format('woff');
    font-weight: 700;
  }