.main{
    position: relative;
    margin-top: 80px;
    .project{
        .swiper{
            .swiper-wrapper{
                display: flex;
                gap: 30px;
                .swiper-slide{    
                    &:hover{
                        &:nth-child(1){
                            video{
                                transition: 0.45s;
                                opacity: 1;
                            }
                        }
                        &:nth-child(2){
                            video{
                                transition: 0.45s;
                                opacity: 1;
                            }
                        }
                    }             
                    &::before{
                        position: relative;
                        display: block;
                        padding-top: 68.68217%;
                        content: "";
                        background-color: #142a1f;
                    }
                    .img-box{
                        position: absolute;
                        bottom: 42px;
                        left: 35px;
                        right: 35px;
                        top: 0;
                    }
                    img{
                        object-fit: contain;    
                        width: 100%;
                        height: 100%;
                        
                      
                    }
                    video{
                        opacity: 0;
                        object-fit: contain;
                        width: 100%;
                        height: 100%;
                       
                        position: absolute;
                        top: 0;left: 0;
                        right: 0;bottom: 0;
                    }
                    .link-go{
                        transform: translateY(-100%);
                        color: #fff;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 50%;
                        margin-left: auto;
                        margin-top: 20px;
                        text-transform: uppercase;
                        opacity: 0;
                        transition: transform 0.5s, opacity 0.2s;
                        &.active{
                            transform: translateY(0%);
                            opacity: 1;
                        }
                        @keyframes horizontal {
                            0%{
                                transform: translateX(-50%);
                            }
                            100%{
                                transform: translateX(0%);
                            }
                        }
                        .icon{
                            animation: horizontal 0.7s ease-in-out infinite;
                            svg{
                                stroke-width: 3;
                                width: 20px;
                                height: 10px;
                                
                            }
                        }
                        .text{
                            text-transform: uppercase;
                            ;
                        }
                    }
                }
               
            }
            .fraction{
                width: auto;
                color: #fff;
            }
        }
      
      
    }
}

.logo-section{
    // display: grid;
    // grid-template-columns: repeat(2,1fr);
    gap: 30px;
    padding: 0 120px 120px 120px;
    overflow: hidden;

    @include desktop{
        padding: 0 50px 50px 50px;
    }
    @include desktop{
        padding: 0 20px 50px 20px;
    }
    .title{
        position: relative;
        display: inline-block;
        white-space: nowrap;
        color: #fff;
        font-size: 12vw;
        justify-self: flex-end;
        text-transform: uppercase;
        margin-top: auto;
        overflow: hidden;
     
        .year{
            font-size: 2vw;
            position: absolute;
            top: 0;right: 0;
            @include mobile{
                font-size: 12px;
            }

        }
        @include mobile{
            font-size: 16vw;
        }
        
    }
    .desc{
        display: flex;
        justify-content: flex-end;
        color: #ababab;
        font-size: 16px;
        line-height: 1.76;
        justify-content: flex-end;
        text-transform: uppercase;
        margin-top: auto;
        span{
            max-width: 400px;
            width: 100%;
        }
        @include mobile{
            justify-content: flex-start;
            font-size: 14px;
            line-height: 1.56;
            br{display: none;}
        }
    }
}


.works {
    position: relative;
    background-color: black;
    // overflow: hidden;
    height: 400vh;
    z-index: 1;
    @include mobile{
        height: 200vh;
    }

    .sticky-wrapper {
        height: 100vh;
        position: sticky;
        top: 0;
        overflow: hidden;
        margin-bottom: -100vh;
    }
    .headline{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        z-index: 10;
        font-size: 9vw;
        @include mobile{
            font-size: 17vw;
        }
        .text{
            display: block;
            overflow: hidden;
        }
        .num{
            position: absolute;
            top: 0;right: 0;
            font-size: 30px;
            transform: translateX(100%);
            @include mobile{
                font-size: 12px;
            }
        }
    }

    .worksspace-wrapper {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        gap: 15px;
        filter: brightness(0.4);

      

        .workspace {
            display: flex;
            flex-direction: column;
            gap: 15px;
            .img-box {
                position: relative;
                height: 28vw;
                // margin: 15px 0;

                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        .workspace-center {
            display: flex;
            flex-direction: column;
            gap: 15px;
            // transform: translateY(-33.33%);
            .video-box {
                position: relative;
                height: 28vw;
                // margin: 15px 0;
                img{
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                video {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}

.my-project{    
    padding: 200px 120px;
    transition: 0.45s;
    position: relative;
    z-index: 1;
    background: #000;
    @include desktop{
        padding: 100px 50px;
    }
    @include mobile{
        padding: 50px 20px;
    }
    .desc{
        
        font-size: 20px;
        line-height: 1.7;
        position: relative;
        color: #fff;
        // font-family: $font-point;
        @include mobile{
            font-size: 14px;
            word-break: keep-all;
        }
        
        .star-icon{
            display: inline-block;
            .icon{
                svg{
                    padding-top: 75px;
                }
            }
        }
        .arrow-icon{
            display: inline-block;
            height: 10px;
            .arrow{
               
                svg{
                    height: 100%;
                    @include mobile{
                        transform: rotate(90deg);
                    }
                }
            }
        }
    }
    .project-list {
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        @include mobile{
            grid-template-columns: 1fr;
            gap: 10px;
        }
        .item {
            transition: transform .95s cubic-bezier(.215,.61,.355,1);
            &:nth-child(1){
                &:hover{
                    .my-project{
                        background-color: red;
                    }
                }
            }
            position: relative;
            // height: 53vw;
    
            &:hover {
                video {
                    transition: scale(1.05);
                    opacity: 1;
                    
                }
    
                .project-title {
                    &::before {
                        width: 100%;
                    }
                }
    
                img {
                    transform: scale(1.05);
                }
            }
    
            video {
                padding: 56px;
                opacity: 0;
                object-fit: contain;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                transition: opacity .25s linear,transform 0.25s linear; 
                
                
            }
    
            .img-box {
                opacity: 0.9;
                position: relative;
                height: 70vw;
                overflow: hidden;
    
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: transform 0.95s cubic-bezier(0.215, 0.61, 0.355, 1);
                }
            }
    
            .project-title {
                
                position: relative;
                &::before {
                    position: absolute;
                    bottom: 0;
                    display: inline-block;
                    content: "";
                    border-bottom: 1px solid;
                    width: 0;
                    transition: width 0.45s; /* Added transition */
                }
    
                font-weight: 400;
                position: absolute;
                top: 56px;
                left: 52px;
                font-size: 1.75vw;
                color: #fff;
                text-transform: uppercase;
                @include mobile{
                    top: 20px;
                    left: 20px;
                    font-size: 6vw;
                }
            }
    
            .project-desc {
                position: absolute;
                bottom: 0px;
                left: 0px;
                padding: 100px 50px 50px;
                width: 100%;
                text-transform: uppercase;
                font-size: 16px;
                line-height: 1.9;
                color: #fff;
                background: rgb(17,17,17);
                background: linear-gradient(0deg, rgba(17,17,17,1) 0%, rgba(255,255,255,0) 100%);
                @include mobile{
                    padding: 30px 20px 20px;
                    font-size: 14px;
                    line-height: 1.4;
                }
            }
        }
    }
    
}

.footer-intro{
    padding: 200px 0 70px;
    color: #fff;
    @include mobile{
        padding: 100px 0 30px;
    }
    .wrapper{
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        @include mobile{
            flex-direction: column;
            align-items: flex-start;
            gap: 30px;
        }
        .left{
            font-size: 24px;
            text-transform: uppercase;
            border-bottom: 1px solid #fff;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }
        .right{
            text-transform: uppercase;
            font-size: 30px;
            font-weight: 500;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            line-height: 1.5;
            text-align: right;
            @include mobile{
                text-align: left;
                font-size: 18px;
                br{
                    display: none;
                }
            }
        }
    }
}