@media (max-width:1230px){
    .logo-section{
        padding: 150px 60px;
    }
    .my-project{
        padding: 200px 60px;
    }
    .my-project .desc{
        font-size: 48px;
    }
 
}
@media (max-width:1024px){
    .main .project .swiper .swiper-wrapper .swiper-slide .link-go{
        opacity: 1;
        display: flex;
        justify-content: space-between;
        width: 100%;
        transform: translateY(0);
        padding: 0 60px;
    }
    .main .project .swiper .fraction{
        position: absolute;
        bottom: 0;
    }
    .logo-section{
        display: flex;flex-direction: column;
        gap: 20px;
        padding: 0 16px 130px;
        .title{
            font-size: 34vw;
        }
        .desc{
            font-size: 14px;
            text-align: center;
            br{
                display: none;
            }
        }
    }
    .workspace-center{
        transform:translateY(0)
    }
    .my-project{
        padding: 200px 16px;
    }
    .my-project .desc{
        font-size: 24px;
    }
    .my-project .project-list .item a{
        padding: 16px;
    }
    .my-project .project-list .item .project-title{
        font-size: 3.75vw;
        top: 40px;
        left: 25px;
    }
    .my-project .project-list .item .project-desc{
        bottom: 40px;
        left: 20px;
        width: 300px;
        overflow: hidden;
        white-space: nowrap;
        
    }
    .my-project .project-list{
        gap: 20px;
    }
}
@media (max-width:767px){
    .main .project .swiper .swiper-wrapper .swiper-slide video{
        opacity: 1;
    }
    .main .project .swiper .swiper-wrapper .swiper-slide .link-go{
        font-size: 14px;
        padding: 0;
        
    }
    .main .project .swiper .swiper-wrapper .swiper-slide .link-go .icon{
        margin-left: 60px;
    }
    .main .project .swiper .fraction{
        font-size: 14px;
    }
    .logo-section{
        margin-top: 360px;
        padding: 0 16px;

    }
    .works .worksspace-wrapper{
        gap: 5px;
    }.works .worksspace-wrapper .workspace .img-box{
        margin: 5px 0;
    }
    .works .worksspace-wrapper .workspace-center .video-box{
        margin: 5px 0;
    }
    .my-project{
        padding: 60px 16px;
    }
    .my-project .project-list{
        margin-top: 30px;
    }
    .my-project .project-list{
        display: flex;
        flex-direction: column;
        gap: 20px;
        
    }
    .my-project .project-list .item{
        height: 360px;
    }
    .my-project .project-list .item .img-box{
        height: 100%;
    }
    .footer-intro{
        padding: 120px 0 20px;
    }
    .footer-intro .wrapper{
      display: grid;
      grid-template-rows: repeat(2,1fr);
        gap: 10px;
    }
    .footer-intro .wrapper .left{
        align-self: flex-start;
        
        font-size: 16px;
    }
}